.vs/barf/v14/.suo
barf/barf.csproj.user
barf/bin/Microsoft.AI.Agent.Intercept.dll
barf/bin/Microsoft.AI.DependencyCollector.dll
barf/bin/Microsoft.AI.PerfCounterCollector.dll
barf/bin/Microsoft.AI.ServerTelemetryChannel.dll
barf/bin/Microsoft.AI.Web.dll
barf/bin/Microsoft.AI.WindowsServer.dll
barf/bin/Microsoft.ApplicationInsights.dll
barf/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
barf/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.xml
barf/bin/Microsoft.Web.Infrastructure.dll
barf/bin/Newtonsoft.Json.dll
barf/bin/System.Net.Http.Formatting.dll
barf/bin/System.Web.Helpers.dll
barf/bin/System.Web.Http.dll
barf/bin/System.Web.Http.WebHost.dll
barf/bin/System.Web.Mvc.dll
barf/bin/System.Web.Razor.dll
barf/bin/System.Web.Webpages.Deployment.dll
barf/bin/System.Web.Webpages.dll
barf/bin/System.Web.Webpages.Razor.dll
barf/obj/Debug/build.force
barf/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
barf/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
barf/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
barf/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
.vs/config/applicationhost.config
barf.api/bin/Antlr3.Runtime.dll
barf.api/bin/EntityFramework.dll
barf.api/bin/EntityFramework.SqlServer.dll
barf.api/bin/Microsoft.AI.Agent.Intercept.dll
barf.api/bin/Microsoft.AI.DependencyCollector.dll
barf.api/bin/Microsoft.AI.PerfCounterCollector.dll
barf.api/bin/Microsoft.AI.ServerTelemetryChannel.dll
barf.api/bin/Microsoft.AI.Web.dll
barf.api/bin/Microsoft.AI.WindowsServer.dll
barf.api/bin/Microsoft.ApplicationInsights.dll
barf.api/bin/Microsoft.AspNet.Identity.Core.dll
barf.api/bin/Microsoft.AspNet.Identity.EntityFramework.dll
barf.api/bin/Microsoft.AspNet.Identity.Owin.dll
barf.api/bin/Microsoft.CodeDom.Providers.DotNetCompilerPlatform.dll
barf.api/bin/Microsoft.Owin.dll
barf.api/bin/Microsoft.Owin.Host.SystemWeb.dll
barf.api/bin/Microsoft.Owin.Security.Cookies.dll
barf.api/bin/Microsoft.Owin.Security.dll
barf.api/bin/Microsoft.Owin.Security.Facebook.dll
barf.api/bin/Microsoft.Owin.Security.Google.dll
barf.api/bin/Microsoft.Owin.Security.MicrosoftAccount.dll
barf.api/bin/Microsoft.Owin.Security.OAuth.dll
barf.api/bin/Microsoft.Owin.Security.Twitter.dll
barf.api/bin/Microsoft.Web.Infrastructure.dll
barf.api/bin/Newtonsoft.Json.dll
barf.api/bin/Owin.dll
barf.api/bin/System.Net.Http.Formatting.dll
barf.api/bin/System.Web.Helpers.dll
barf.api/bin/System.Web.Http.dll
barf.api/bin/System.Web.Http.Owin.dll
barf.api/bin/System.Web.Http.WebHost.dll
barf.api/bin/System.Web.Mvc.dll
barf.api/bin/System.Web.Optimization.dll
barf.api/bin/System.Web.Razor.dll
barf.api/bin/System.Web.WebPages.Deployment.dll
barf.api/bin/System.Web.WebPages.dll
barf.api/bin/System.Web.WebPages.Razor.dll
barf.api/bin/WebGrease.dll
barf.api/barf.api.csproj.user
barf.api/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
barf.api/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
barf.api/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
barf.api/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
barf.lib/obj/Debug/DesignTimeResolveAssemblyReferencesInput.cache
barf.lib/obj/Debug/TemporaryGeneratedFile_036C0B5B-1481-4323-8D20-8F5ADCB23D92.cs
barf.lib/obj/Debug/TemporaryGeneratedFile_5937a670-0e60-4077-877b-f7221da3dda1.cs
barf.lib/obj/Debug/TemporaryGeneratedFile_E7A71F73-0F8D-4B9B-B56E-8E70B10BC5D3.cs
barf.v11.suo
barf/obj/
barf.lib/bin/
barf.lib/obj/
barf/bin/
packages/
